@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}.wrapper{overflow:hidden;}body{overflow-y:scroll;}img{max-width: 100%;}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #ede0c0;
}
body{
    color: #333;
}
header{
    position: absolute;
    width: 100%;

}
h1{
    position: absolute;
    font-family: 'Suez One', serif;
    font-size: 100px;
    top: 20px;
    left: 30px;

    color: #f26c29;
}
nav{
    background-color: #8a97b8be;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    transition: 1s;
}
nav.drawer{
    left: 0;
}
nav li a{
    display: block;
    text-align: center;
    color: #fff;
    line-height: 80px;
    font-size: 20px;
    width: 500px;
    border-bottom: 1px solid #fff;
}
.burger{
    width: 100px;
    height: 50px;
    position: fixed;
    top: 40px;
    right: 50px;
    cursor: pointer;
    z-index: 1;
}
.burger>span{
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 3px solid #fff;
    width: 100%;
    transition: .5s;
}
.burger span:nth-child(1){
    top: 25%;
    width: 80%;
    margin-left: 10%;
}
.burger span:nth-child(3){
    top: 75%;
    width: 80%;
    margin-left: 10%;
}
.burger.active span:nth-child(1){
    transform: rotate(200deg);
    top: 50%;
} 
.burger.active span:nth-child(3){
    transform: rotate(-200deg);
    top: 50%;
} 
.main-visual{
    width: 100%;
    height: 100vh;
}
.main-visual img{
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
}
#neko{
    position: absolute;
    right: 10%;
    top: -30%;
    width: 200px;
    height: 200px;
    display: block;
    transition: 5s;
}
#neko.move{
    right:75%;
    top:80%;
    transform: rotate(-360deg);
}

.h2-wrapper{
    position: relative;
    margin-top: 300px;
}
h2{
    font-family: 'Passero One', cursive;
    font-size: 100px;
    width: 100%;
    text-align: center;
    
}
.h2-wrapper>.box{
    width: 100%;
    height: 80px;
    background-color: #ccbf9f;
    position: absolute;
    top: 50px;
    z-index: -1;
}
#blog h2{
    font-family: 'Stick', sans-serif;
    font-size: 90px;
}
#concept p{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 20px;
    line-height: 1.9;
    max-width: 1000px;
    margin: 100px auto;
}
.gallery-wrapper{
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 20px;
    margin: 150px auto 0;
}
.gallery-box .profile{
    font-size: 16px;
    height: 50px;
}

#illust img{
    display: block;
    margin: 300px auto 0;
    
    height: 300px;
}

#blog dl{
    max-width: 1000px;
    margin: 0 auto;
}
#blog dt{
    margin: 200px 0 50px 0;
    font-size: 30px;
    font-weight: bold;
    
}
#blog dd{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}

.info{
    max-width: 1366px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
.info h3{
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    font-family: 'Asul', sans-serif;
    border-bottom: 3px double #000;
    margin-bottom: 30px;
}
.info h4{
    padding: 30px 0 40px;
    font-size: 18px;
}
.info dl div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-size: 16px;
}
.info dt{
    width: 30%;
}
.info dd{
    width: 65%;
}
.info>.shop-info{
    width: 35%;
}
.info>.map-area{
    width: 60%;
}
.info .map iframe{
    width: 100%;
}
.plice{
    max-width: 1366px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
.plice h3{
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    font-family: 'Asul', sans-serif;
    border-bottom: 3px double #000;
    margin-bottom: 30px;
}
.plice dl div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-size: 16px;
}
.plice .list{
    width: 50%;
}
.plice .attention{
    width: 45%;
}
.plice dd{
    width: 35%;
    font-size: 18px;
}
.plice dt{
    width: 60%;
    font-size: 18px;
}
.plice li{
    font-size: 18px;
    margin-top: 20px;
    
}
form{
    max-width: 600px;
    margin: 100px auto 0;
}
form>p{
    margin-top: 30px;
}
input[type="text"],
input[type="email"],
textarea{
    border: 1px solid #5c4b42;
    background-color: #fff;
    width: 100%;
    /* margin-top: 30px; */
    padding: 4px 8px;
}
.submiBtn{
    text-align: center;
}
input[type="submit"]{
    background-color: #5c4b42;
    color: #fff;
    padding: 10px 80px;
    
}

footer{
    background-color: #f26c29;
    padding: 100px 30px;
    margin-top: 100px;
}
.foot-wrapper{
    display: flex;
    justify-content: space-between;
}
.foot-wrapper img{
    width: 200px
}
footer p{
    text-align: center;
}
.sns{
    display: flex;
}
.sns li{
    width: 44px;
    margin: 100px 0 0 10px;
}
.cafe-menu{
    background-color: #8a97b8;
}
.cafe-menu .h2-wrapper{
    position: relative;
    margin-top: 50px;
}
.cafe-menu .h2-wrapper .box{
    background-color: rgb(231, 231, 231);
}
.cafe-wrapper{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #5c4b42;
    color: #fff;
    font-family: 'Asul', sans-serif;
    position: relative;
}
.cafe-wrapper .box1{
    position: absolute;
    top: -20px;
    left: -30px;
    width: 25%;
    
}
.cafe-wrapper .box3{
    position: absolute;
    bottom: -20px;
    right: -30px;
    width: 25%;
    padding-left: 10px;
}
.cafe-wrapper .box2{
    margin: 0 auto;
    padding-top: 40px;
    width: 50%;
}
.cafe-wrapper dl{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
}
.cafe-wrapper dd{
    width: 30%;
}
.cafe-wrapper dt{
    width: 30%;
}

.top-button img{
    max-width: 1000px;
    width: 100px;
    display: block;
    margin: 200px auto 0;
    border-radius: 50%;

}
@media(max-width:640px){
    body{
        padding: 0 10px;
    }
 
    
    h1{font-size: 60px;}
    h2{font-size: 45px;}
    #blog h2{font-size: 40px;}

    .h2-wrapper>.box{
        height: 60px;
        background-color: #ccbf9f;
        position: absolute;
        top: 25px;
        z-index: -1;
    }

    .gallery-wrapper{
        display: block;
    }
    .gallery-box{
        margin-bottom: 30px;
    }
    #neko.move{
        right:25%;
    }
    .info{
        display: block;
        
    }
    .info>.shop-info{
        width: 100%;
       
    }
    .info>.map-area{
        width: 100%;
    }
    .plice{
        display: block;
    }
    .plice .list{
        width: 100%;
      
    }
    .plice .attention{
        width: 100%;
    }
    .foot-wrapper{
        flex-wrap: wrap;
    }

    .cafe-wrapper{
   
        margin: 550px auto;
       
        position: relative;
    }
    .cafe-wrapper .box1{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        width: 100%;
        
    }
    .cafe-wrapper .box3{
        position: absolute;
        bottom: -500px;
        right: 0;
        left: 0;
        width: 100%;
       
    }
    .cafe-wrapper .box2{
        padding-top: 40px 20px;
        width: 80%;
    }
}
